<header class="bs-site-header" role="banner">
  <div class="bs-site-header__inner">
    <a class="bs-site-header__brand" href="/">
      <img
        class="bs-site-header__logo"
        src="/bs/logo-kanton-bs.png"
        alt="Kanton Basel-Stadt"
        width="120"
        height="40"
      />
      <span class="bs-site-header__title">Datatools Basel-Stadt</span>
    </a>
    <nav class="bs-site-header__nav" aria-label="Externe Links">
      <a href="https://data.bs.ch">Datenportal</a>
      <a href="https://www.bs.ch">bs.ch</a>
    </nav>
  </div>
</header>
