<footer class="bs-site-footer">
  <div class="bs-site-footer__links">
    <a href="https://www.bs.ch/rechtliches/impressum.html">Impressum</a>
    <a href="https://www.bs.ch/rechtliches/datenschutz.html">Datenschutz</a>
  </div>
  <div class="bs-site-footer__meta">
    Powered by <a href="https://datasette.io/">Datasette</a>
    {% if query_ms %}· Queries took {{ query_ms|round(3) }}ms{% endif %}
    {% if metadata %}
      {% if metadata.license or metadata.license_url %}· Data license:
        {% if metadata.license_url %}
          <a href="{{ metadata.license_url }}">{{ metadata.license or metadata.license_url }}</a>
        {% else %}
          {{ metadata.license }}
        {% endif %}
      {% endif %}
      {% if metadata.source or metadata.source_url %}·
        Data source: {% if metadata.source_url %}<a href="{{ metadata.source_url }}">{% endif %}{{ metadata.source or metadata.source_url }}{% if metadata.source_url %}</a>{% endif %}
      {% endif %}
      {% if metadata.about or metadata.about_url %}·
        About: {% if metadata.about_url %}<a href="{{ metadata.about_url }}">{% endif %}{{ metadata.about or metadata.about_url }}{% if metadata.about_url %}</a>{% endif %}
      {% endif %}
    {% endif %}
  </div>
</footer>
